/* overwrite bootstrap */
.container { width: 1010px }
/* body { background-color: #EDEEEF; } */

/* general */
.bold { font-weight: bold }

/* home */
.topics-navbar .create-topic { margin-top: 10px; }


.topics-nav { font-size: 14px; padding-bottom: 7px; border-bottom-width: 2px; margin-top: 3px; }
.topics-nav span { margin-right: 12px; }

.topics-list { }
.topics-list .cat { margin-bottom: 6px; color: #828282; }
.topics-list .cat a { color: #828282; }
.topics-list .cat .timestamp { font-size: 11px; }
.topics-list .name { font-weight: bold; }
.topics-list .desc { font-size: 14px; margin-bottom: 5px; }
.topics-list .info { color: #828282; }
.topics-list .info a { font-weight: bold; color: #828282; }



.topic-view { background-color: #ffffff; padding: 7px 3px 7px 0px; margin-bottom: 6px; border-bottom: 1px solid #EEEEEE; }
.topic-view .cat { margin-bottom: 6px; color: #828282; }
.topic-view .cat .timestamp { font-size: 11px; }
.topic-view .name { font-weight: bold; }
.topic-view .desc { font-size: 14px; margin-bottom: 5px; padding-left: 7px; font-weight: normal; }

/* btn old style */

.btn-oldstyle {
    background-color: #08c;
    border-color: #08c;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #007ab8;
    background-image: -moz-linear-gradient(top,#08c,#006699);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#006699));
    background-image: -webkit-linear-gradient(top,#08c,#006699);
    background-image: -o-linear-gradient(top,#08c,#006699);
    background-image: linear-gradient(to bottom,#08c,#006699);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff006599', GradientType=0);
    border-color: #006699 #006699 #00334d;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
    background-color: #006699;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
    background-color: #0077b3;
    border-color: #006699;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
    background-color: #08c;
    border-color: #08c;
}
