h1 { font-size: 50px; font-weight: bold; }



/* reset bootstrap */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { box-shadow: none !important; }
.navbar .navbar-inner { background: #205081; }

.navbar .nav > li > a { text-shadow: none; color: #ffffff; }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { text-shadow: none; color: #ffffff; background-color: #3B73AF; }
.navbar .nav li.dropdown > .dropdown-toggle .caret { border-bottom-color: #ffffff; border-top-color: #ffffff; }
.navbar .nav li.dropdown > .dropdown-toggle .caret:hover, .navbar .nav li.dropdown > .dropdown-toggle .caret:focus { border-bottom-color: #ffffff; border-top-color: #ffffff; }
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { color: #ffffff; background-color: #3B73AF; }
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:hover { box-shadow: none; background-color: #3B73AF; color: #ffffff; }
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { box-shadow: none; background-color: #3B73AF; color: #ffffff; }


/* common */
.bold { font-weight: bold; }
a { color: #19558D; text-decoration: none; }
a:hover { text-decoration: underline; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { /* width: 950px; */ }
.container-page { padding-top: 122px; }
.container-page .controls-page { margin-bottom: 15px; }

.navbar .navbar-inner-breadcrumb { background: #F5F5F5; height: 60px; }
.navbar .navbar-inner-breadcrumb .breadcrumb { margin-left: -15px; }
.navbar .navbar-inner-breadcrumb ul.breadcrumb { list-style: none outside none; padding-top: 16px; }
.navbar .navbar-inner-breadcrumb ul.breadcrumb li { font-size: 16px; }
.navbar .navbar-inner-breadcrumb ul.breadcrumb li.img { padding-right: 10px; }
.navbar .navbar-inner-breadcrumb ul.breadcrumb li.active { font-weight: bold; }
.navbar .navbar-inner-breadcrumb ul.breadcrumb li.divider { padding: 0 5px 0 5px; }


.navbar-sub { margin-top: 41px; }
.navbar-sub .navbar-inner { background-color: red; }

.form-horizontal .control-label { width: 100px; }
.form-horizontal .controls { margin-left: 115px; }

/* buttons */
/* label, input, button, select, textarea { font-size: 12px !important; } */
.btn-submit { font-weight: bold; }

/* template - header*/
.navbar-header .navbar-inner { background-color: #435875 !important; background-image: none; border-bottom: 0px; }
.navbar-header .navbar-inner a { color: #CCCCCC !important; }
.navbar-header .navbar-inner a:hover { color: #FFFFFF !important; }
.navbar-header .brand-logo { padding-top: 5px; }
.navbar-header .navbar-search { margin-top: -5px; }
.navbar-header .navbar-search form input { width: 300px; }
.navbar-header .navbar-inner { height: 45px; }
.topics-nav { font-size: 14px; border-bottom: 1px solid #CCCCCC; margin: 11px 0 3px 0; padding-bottom: 8px; }
.topics-nav .active { font-weight: bold; }

/* header */
.search-box { padding-top: 4px; }
.search-box input { height: 24px; }
.input-append button.add-on { height: inherit !important; }

/* page */
table tr td .item-action { display: none; padding-left: 5px; }
table tr td:hover > .item-action { display: inline; }

/* home */
.topics-nav span { margin-right: 20px; }
.topic-item { border-bottom: 1px solid #F0F0F0; padding: 12px 0 11px 0; }
.topic-item .topic-name { font-weight: bold; font-size: 14px; }
.topic-item .topic-desc { font-size: 14px; }
.topic-item .topic-info { color: #8F8F8F; font-size: 12px; }
.topic-item .topic-info a { color: #8F8F8F; }

/* crm */
.label-client, .badge-client {
    background-color: #468847;
}



/* search box */

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}
